disk/*
!disk/.gitkeep
__pycache__/
.idea/
.venv/
.vscode/
asm/
build/
bin/
asm/
assets/
bin/
build/
config/sym_export_battle.us.txt
report/
sym_export.*.txt
undefined_funcs_auto.*.txt
undefined_syms_auto.*.txt
.ninja_log
.ninja_lock
.ninja_deps
build.ninja
objdiff.json
/permute*
