disk/*
!disk/.gitkeep
__pycache__/
.idea/
.venv/
.vscode/
/asm/
/build/
/bin/
/assets/
/report/
sym_export.*.txt
expected/**/*.elf
expected/**/*.exe
expected/**/*.map
expected/**/*.ld
expected/**/*.yaml
expected/**/*.sha1
expected/**/*.fingerprint
expected/**/undefined_*.txt
undefined_funcs_auto.*.txt
undefined_syms_auto.*.txt
.ninja_log
.ninja_lock
.ninja_deps
build.ninja
objdiff.json
/permute*
ctx.c
docs/html/
jp2en/
docs/notes/
